<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../css2/index2.css" type="text/css"></link>
<script type="text/javascript" src="plugins/angularjs/angular.min.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/controller/goodsController.js"></script>
<script type="text/javascript" src="js/service/goodsService.js"></script>
<body ng-app="myApp" ng-controller="goodsController" ng-init="getSolrList()">
<input type="text" ng-model="search.name">
<button og-click="cx()">查询</button>
<table>
     <tr>
          <td>商品名称</td>
          <td>价格</td>
          <td>品牌</td>
          <td>店铺</td>
          <td>数量</td>
          <td>上架时间</td>
          <td>操作</td>
     </tr>
     <tr ng-repeat="p in solrlist">
          <td>{{p.name}}</td>
          <td>{{p.price}}</td>
          <td>{{p.brand}}</td>
          <td>{{p.shop}}</td>
          <td>{{p.num}}</td>
          <td>{{p.uptime}}</td>
          <td>
              <button ng-click="deleteId(p.id)">删除</button>
          </td>
     </tr>
</table>
</body>
</html>